<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="epiConnection" value="C:\Epicor\ERP10.0Client\Client\config\{0}.sysconfig" />
    <add key="AppMultiServer" value="Data Source=APPMULTISERVER;Initial Catalog={0};Persist Security Info=True;User ID={1};Password={2}" />
    <add key="QuotesPerExecution" value="1" />
    <add key="DefaultCompany" value="TT" />
    <add key="DefaultUser" value="" />
    <add key="DefaultPass" value="" />
    <add key="MailAddressToNotify" value="analista_ifc@gicaor.com" />
    <add key="LogFolder" value="C:\QuoteGeneratorLogs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
